<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>fruit shop - eat healthy stay fit</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../css/main.css" media="all" />
</head>
<body>
<main>
  <div id="header">
    <a class="topPageAnchor" href="index.html"><img src="../../img/fruitshop-logo.png" /></a>
  </div>
  <div id="sidebar">
    <h3>Menu</h3>
    <ul>
      <li><a id="viewCartAnchorLink" href="cart/view">view cart</a></li>
    </ul>
    <h3>Category</h3>
    <ul id="categoryList" th:each="iterStat : ${CategoriesList}">
      <li><a th:href="@{'/itemList/' + ${iterStat.id}}"><span th:text="${iterStat.name}"></span></a></li>
    </ul>
  </div>
  <div id="content">
    <h1>My Fruit Store - Eat healthy Stay Healthy</h1>
    <div>Fruit Shop is modern fruit shop that provides fresh fruit, fruit delivery services,
      cut fruit, and fruit products.</div>
    <div class="categoryBox" th:each="item : ${ItemList}">
      <h2 class="categoryName" style="background-color:#ffe4e1;" th:text="${item.category.name}"></h2>
      <div class="itemBox">
        <a class="itemImageLink" th:href="@{'/item/' + ${item.id}}"><img src="../../img/dummy-img-120x120.png"
                                                                         style="float: left; margin: 2px;" /></a>
        <h3 class="itemNameLink">
          <a th:href="@{'/item/' + ${item.id}}" th:text="${item.name}"></a>
        </h3>
        <span class="itemDescription" th:text="${item.description}"></span>
        <br style="clear: both;" />
      </div>

    </div>

  </div>

</main>
</body>
</html>
