<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>fruit shop - eat healthy stay fit</title>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css" media="all" />
</head>
<body>
<div id="header">
  <a class="topPageAnchor" href="../"><img
          src="../../static/img/fruitshop-logo.png" /></a>
</div>
  <div id="content">
    <div id="checkoutFlow">
      Cart &gt; Shipping information &gt; Confirmation &gt;
      <span style="font-weight: bold; color: red;">Checkout complete</span>
    </div>
    <h1>Thank you !</h1>
    <div style="margin:8px;">
    <p>Your order is completed.</p>
    <p><a id="goToTopPageAnchorLink" href="../">go to top page</a></p>
    </div>
  </div>

</body>
</html>
